.header-titles {
  justify-content: center;
  position: relative;
  top: 30%;
  align-items: center;
}


.name-introduction{
  font-family: handlee;
  color: rgb(161, 161, 161);
  font-size: rem(60px);
}



.paragraph {
    font-family: pacifico;
    font-size: rem(50px);
    color: rgb(161, 161, 161);
  }

  .my-name {
    //color: rgb(25, 205, 218);
    // color: rgb(218, 102, 25);
    color: rgb(233, 226, 168);
  }



  @media (max-width:800px) {
    .name-introduction{
      font-size: rem(30px);
    }
    .paragraph {
      font-size: rem(20px);
    }
  }
  

 