.my-detailes-wrapper {
    // background-image: url('../../imgs/programmer.png');
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}


.my-detailes {
    max-width: 400px;
    margin-left: -19px;
    border: 1px solid black;
    font-size: rem(15px);
    color: #3d3d3d;
    p {
        font-size: rem(10px);
    }
}

.my-pic{
    border: 1px solid black;
    width: rem(150px);
    height: rem(250px);

}

