.my-detailes-wrapper {
    //border: 1px solid black;
    background-color: lightyellow;
    max-width: 100%;
    padding-top: rem(50px);
}

.my-headers {
    font-size: rem(35px);
   font-family: comic;
}

.contact-det,.p {
    font-family: roboto;
    font-size: rem(24px);
}


.li {
    margin-top: rem(20px);
}

.down {
    margin-top: rem(40px);
}

.contact-now {
    font-weight: bold;
}

@media (max-width:800px) {
    .container {
        max-width: 600px;
    }
    .my-headers {
        width: 55%;
        font-size: rem(30px);
        font-weight: bold;
    }
}





