.my-detailes-wrapper {
    border: 1px solid black;
    max-width: rem(1000px);
}

.up {
}

.my-headers {
   //background-color: aquamarine;
   width: 20%;
   margin: 0 auto;
   font-size: rem(35px);
   font-family: comic;
}

.p {
    font-family: roboto;
    font-size: rem(24px);
}


@media (max-width:800px) {
    // .container {
    //     max-width: 600px;
    // }
    .my-headers {
        width: 40%;
        font-size: rem(24px);
    }
}





