.skill-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(350px), 1fr));
    grid-gap: 5rem;
    font-family: comic;
    padding-top: rem(50px);
}


// .skill-card:hover {
//     //border: 1px black solid;
//     background-color: rgb(183, 233, 173);
// }



.skill-img {
    max-width: rem(250px);
    max-height: rem(150px);
}





.skill-title {
    text-decoration: underline;
}

