.skill-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.skill-card {
    border: 1px solid black;
}


.skill-img {
    max-width: 350px;
    max-height: 350px;
}